.carouselMain {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    position: relative;
}

.movie-poster {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: auto;
    max-height: 510px;
}

.movie-info {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 100%;
    margin: 0px 0;
    line-height: 1;
    max-height: 510px;
    overflow-y: auto;
}

.movie-info p {
    margin-top: 24px;
    margin-bottom: 24px;
}

.carousel-controls {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.carousel-control-prev,
.carousel-control-next {
    position: static;
    filter: invert(100%);
}

@media (max-width: 768px) {
    .movie-info p:not(:first-child):not(:nth-child(2)):not(:nth-child(4)) {
        display: none;
    }

    .movie-info h1,
    .movie-info p:first-of-type,
    .movie-info p:nth-of-type(2),
    .movie-info p:nth-of-type(3) {
        margin: 8px 0;
    }

    .movie-info {
        width: 90%;
        margin: 10px auto;
    }

    .movie-poster {
        height: auto;
        width: 50vh;
        max-height: 50vh
    }
}
