.blur-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    z-index: 0;
    pointer-events: none;
}

header.masthead .custom-post-heading .image-container {
    position: absolute;
    top: 140%;
    left: -10%;
    transform: translateY(-50%);
    max-width: 200px;
    margin-right: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

header.masthead .custom-post-heading .custom-movie-poster {
    width: 100%;
    height: auto;
    border-radius: inherit;
    box-shadow: inherit;
}

header.masthead .custom-post-heading .custom-text-content {
    position: absolute;
    top: 170%;
    left: 180px;
    transform: translateY(-50%);
    color: #fff;
    max-width: 500px;
}

header.masthead .custom-post-heading {
    position: relative;
    padding: 20px;
}

@media (max-width: 993px) {
    header.masthead .custom-post-heading {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    header.masthead .custom-post-heading .image-container {
        position: relative;
        top: auto;
        left: auto;
        transform: none;
        max-width: 60%;
        margin: 0 auto 20px auto;
        text-align: center;
    }

    header.masthead .custom-post-heading .custom-text-content {
        position: relative;
        top: auto;
        left: auto;
        transform: none;
        max-width: 100%;
        text-align: left;
    }
}

.progress-circle {
    width: 70px;
    height: 70px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.progress-circle__svg {
    width: 100%;
    height: 100%;
}

.progress-circle__background {
    fill: none;
    stroke: #eee;
    stroke-width: 3.8;
}

.progress-circle__progress {
    fill: none;
    stroke: #4caf50;
    stroke-width: 2.8;
    stroke-linecap: round;
    transition: stroke-dasharray 0.3s;
}

.progress-circle__text {
    fill: #fff;
    font-size: 0.5em;
    text-anchor: middle;
    dominant-baseline: middle;
}
