{% include "header.html" %}
{% load static %}

<header
    class="masthead"
    style="background-image: url('{% static 'assets/img/about_banner.jpg' %}')"
>
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading">
                    <h1>About Me</h1>
                    <span class="subheading">This is what I do.</span>
                </div>
            </div>
        </div>
    </div>
</header>

<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <p>
                    I'm a freelance web designer, developer, and cinematography enthusiast. I've been building this
                    platform for people to share their opinion about movies free of charge, so others can see the real
                    ratings and reviews from normal people like you.
                </p>
                <p>
                    This webapp is free to use and open source. So if you want to share your thoughts just make and account
                    and start rating and reviewing movies!
                </p>
            </div>
        </div>
    </div>
</main>

{% include "footer.html" %}
