{% include "header.html" %}

<header class="masthead" style="background-image: url('https://wallpapers.com/images/featured/movie-9pvmdtvz4cb0xl37.jpg')">
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="site-heading">
          <h1>Error :c</h1>
          <span class="subheading">An error occurred</span>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="container justify-content-center align-items-center">
    <p>{{ message }}</p>
    <a href="{{ url_for('main.get_all_movies') }}" class="btn btn-primary">Return to Home</a>
</div>

{% include "footer.html" %}
