<!DOCTYPE html>
{% load static %}
{% load django_bootstrap5 %}

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>MyFilmSay</title>
        {% block styles %}
        {% bootstrap_css %}
        <link
            rel="icon"
            type="image/x-icon"
            href="{% static 'assets/favicon.ico' %}"
        />
        <script
            src="https://use.fontawesome.com/releases/v6.3.0/js/all.js"
            crossorigin="anonymous"
        ></script>
        <link
            href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic"
            rel="stylesheet"
            type="text/css"
        />
        <link
            href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800"
            rel="stylesheet"
            type="text/css"
        />
        <link
            href="{% static 'css/styles.css' %}"
            rel="stylesheet"
        />
        <link
            href="{% static 'css/main.css' %}"
            rel="stylesheet"
        />
        <link
            href="{% static 'css/cards.css' %}"
            rel="stylesheet"
        />
        <link
            href="{% static 'css/user.css' %}"
            rel="stylesheet"
        />
        <link
            href="{% static 'css/movie.css' %}"
            rel="stylesheet"
        />
        <link
            href="{% static 'css/comment.css' %}"
            rel="stylesheet"
        />
        <link
            href="{% static 'css/carousel.css' %}"
            rel="stylesheet"
        />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/crypto-js.min.js"></script>
        <script>
            {% if current_user_id %}
                const current_user_id = {{ current_user_id|safe }};
            {% else %}
                const current_user_id = null;
            {% endif %}
        </script>
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light" id="mainNav">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="/">My Film Say</a>
                <button
                    class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarResponsive"
                    aria-controls="navbarResponsive"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                >
                    Menu
                    <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <form role="search" action="{% url 'search' %}" method="POST">
                        {% csrf_token %}
                        <input class="form-control" type="search" name="query" placeholder="Search" aria-label="Search">
                    </form>
                    <ul class="navbar-nav ms-auto py-4 py-lg-0">
                        <li class="nav-item">
                            <a class="nav-link px-lg-3 py-3 py-lg-4" href="{% url 'get_all_movies' %}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link px-lg-3 py-3 py-lg-4" href="{% url 'about' %}">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link px-lg-3 py-3 py-lg-4" href="{% url 'seo' %}">FAQ</a>
                        </li>
                        {% if user.is_authenticated %}
                            {% if user.role == "admin" or user.role == "moderator" %}
                                <li class="nav-item">
                                    <a class="nav-link px-lg-3 py-3 py-lg-4" href="{% url 'users' %}">Users</a>
                                </li>
                            {% else %}
                                <li class="nav-item">
                                    <a class="nav-link px-lg-3 py-3 py-lg-4" href="{% url 'user_profile' user_id=user.id %}">Profile</a>
                                </li>
                            {% endif %}
                            <li class="nav-item">
                                <a class="nav-link px-lg-3 py-3 py-lg-4" href="{% url 'logout' %}">Log Out</a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link px-lg-3 py-3 py-lg-4" href="{% url 'login' %}">Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link px-lg-3 py-3 py-lg-4" href="{% url 'register' %}">Register</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>

<div class="flash-messages">
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
                <button type="button" class="close" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
    {% endif %}
</div>
