{% load django_bootstrap5 %}
{% include "header.html" %}
{% load static %}
<form style="display: none;">
    {% csrf_token %}
</form>

<header class="masthead" style="background-image: url('{% if movie.img_url %}{{ movie.img_url }}{% else %}
    {% static 'img/placeholder.jpg' %}{% endif %}');">
  <div class="blur-overlay"></div>
  <div class="container position-relative px-4 px-lg-5" style="z-index: 1;">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="custom-post-heading">
          <div class="image-container">
            {% if movie.img_url %}
              <img src="{{ movie.img_url }}" alt="{{ movie.title }}" class="custom-movie-poster">
            {% else %}
              <img src="{% static 'img/placeholder.jpg' %}" alt="{{ movie.title }}" class="custom-movie-poster">
            {% endif %}
          </div>
          <div class="custom-text-content">
            <h1>{{ movie.title }} ({{ movie.date }})</h1>
            <div class="progress-circle" data-percentage="{{ rating_percentage|floatformat:1 }}">
                <svg class="progress-circle__svg" viewBox="0 0 36 36">
                    <path class="progress-circle__background" d="M18 2.0845
                        a 15.9155 15.9155 0 0 1 0 31.831
                        a 15.9155 15.9155 0 0 1 0 -31.831" />
                    <path class="progress-circle__progress" d="M18 2.0845
                        a 15.9155 15.9155 0 0 1 0 31.831
                        a 15.9155 15.9155 0 0 1 0 -31.831" />
                    <text class="progress-circle__text" x="18" y="20.35">{{ movie.rating }}</text>
                </svg>
            </div>
            <p><strong>Genres:</strong> {{ movie.genres }}</p>
            <p><strong>Director:</strong> {{ movie.director }}</p>
            <p><strong>Writers:</strong> {{ movie.writers }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<article>
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <h1>Overview</h1>
        {{ movie.body|safe }}
        {% if user.is_authenticated and user.role == "admin" or user.is_authenticated and user.role == "moderator" %}
        <div class="d-flex justify-content-end mb-4 mt-3">
          <a class="btn btn-primary" href="{% url 'edit_movie' movie.id %}">Edit Post</a>
        </div>
        {% endif %}

        <form method="post" action="{% url 'show_movie' movie.id %}">
            {% csrf_token %}
            {% bootstrap_form form %}
            <button type="submit" name="submit" class="btn btn-primary">Submit</button>
        </form>

        <div class="comment">
            <ul class="commentList list-unstyled" id="commentList">
                {% include "partials/comment_list.html" with comments=comments %}
            </ul>
            {% if total_comments > 5 %}
                <button id="loadMoreBtn" class="btn btn-primary" data-offset="5" data-movie-id="{{ movie.id }}">Load more</button>
            {% endif %}
        </div>
      </div>
    </div>
  </div>
</article>

{% include "footer.html" %}
