{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('https://wallpapers.com/images/featured/movie-9pvmdtvz4cb0xl37.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="site-heading">
          <h1>{{ user.name }}</h1>
          <span class="subheading">{{ user.email }}</span>
          <span class="subheading">{{ user.role }}</span>
        </div>
      </div>
    </div>
  </div>
</header>

{% block content %}
{% for movie, data in user_comments.items() %}
    <div class="comment-container mx-auto w-75 w-md-50">
        <div class="comment-title">
            🎬 <a href="{{ url_for('main.show_movie', movie_id=movie.id) }}">{{ movie.title }}</a>
        </div>
        {% for comment in data.comments %}
            <div class="comment-box" id="comment-{{ comment.id }}">
                <div class="comment-text">{{ comment.text | safe }}</div>
                {% if current_user.is_authenticated and (current_user.is_admin() or current_user.is_moderator() or current_user.id == comment.author_id) %}
                    <a href="#" class="btn btn-danger btn-sm delete-comment" data-comment-id="{{ comment.id }}">Delete</a>
                {% endif %}

                {% for reply in data.replies[comment.id] %}
                    <div class="reply-box" id="reply-{{ reply.id }}">
                        <div class="reply-text">↳ {{ reply.reply_text | striptags }}</div>
                        {% if current_user.is_authenticated and (current_user.is_admin() or current_user.is_moderator() or current_user.id == comment.author_id) %}
                            <a href="#" class="btn btn-danger btn-sm delete-reply" data-reply-id="{{ reply.id }}">Delete</a>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        {% endfor %}

        {% if not data.comments and data.replies %}
            {% for reply_list in data.replies.values() %}
                {% for reply in reply_list %}
                    <div class="reply-box" id="reply-{{ reply.comment_id }}-{{ reply.id }}">
                        <div class="reply-text">↳ {{ reply.reply_text | striptags }}</div>
                        {% if current_user.is_authenticated and (current_user.is_admin() or current_user.is_moderator() or current_user.id == comment.author_id) %}
                            <a href="#" class="btn btn-danger btn-sm delete-reply" data-reply-id="{{ reply.id }}">Delete</a>
                        {% endif %}
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}
    </div>
{% endfor %}

{% endblock %}
{% include "footer.html" %}