--
-- PostgreSQL database dump
--

-- Dumped from database version 17.5
-- Dumped by pg_dump version 17.5

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: MyFilmSay_comment; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."MyFilmSay_comment" (
    id bigint NOT NULL,
    text text NOT NULL,
    "timestamp" timestamp with time zone NOT NULL,
    user_rating double precision,
    likes_count integer NOT NULL,
    dislikes_count integer NOT NULL,
    parent_id bigint,
    movie_id bigint NOT NULL,
    author_id bigint NOT NULL
);


ALTER TABLE public."MyFilmSay_comment" OWNER TO postgres;

--
-- Name: MyFilmSay_comment_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public."MyFilmSay_comment" ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."MyFilmSay_comment_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: MyFilmSay_commentreply; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."MyFilmSay_commentreply" (
    id bigint NOT NULL,
    reply_text text NOT NULL,
    "timestamp" timestamp with time zone NOT NULL,
    likes_count integer NOT NULL,
    dislikes_count integer NOT NULL,
    comment_id bigint NOT NULL,
    parent_id bigint,
    author_id bigint NOT NULL
);


ALTER TABLE public."MyFilmSay_commentreply" OWNER TO postgres;

--
-- Name: MyFilmSay_commentreply_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public."MyFilmSay_commentreply" ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."MyFilmSay_commentreply_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: MyFilmSay_movie; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."MyFilmSay_movie" (
    id bigint NOT NULL,
    title character varying(250) NOT NULL,
    date character varying(250) NOT NULL,
    body text NOT NULL,
    img_url character varying(250),
    rating double precision,
    director character varying(250),
    writers character varying(250),
    genres character varying(250)
);


ALTER TABLE public."MyFilmSay_movie" OWNER TO postgres;

--
-- Name: MyFilmSay_movie_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public."MyFilmSay_movie" ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."MyFilmSay_movie_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: MyFilmSay_user; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."MyFilmSay_user" (
    id bigint NOT NULL,
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    email character varying(254) NOT NULL,
    name character varying(255) NOT NULL,
    role character varying(20) NOT NULL,
    is_active boolean NOT NULL,
    is_staff boolean NOT NULL
);


ALTER TABLE public."MyFilmSay_user" OWNER TO postgres;

--
-- Name: MyFilmSay_user_groups; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."MyFilmSay_user_groups" (
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public."MyFilmSay_user_groups" OWNER TO postgres;

--
-- Name: MyFilmSay_user_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public."MyFilmSay_user_groups" ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."MyFilmSay_user_groups_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: MyFilmSay_user_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public."MyFilmSay_user" ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."MyFilmSay_user_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: MyFilmSay_user_user_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."MyFilmSay_user_user_permissions" (
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public."MyFilmSay_user_user_permissions" OWNER TO postgres;

--
-- Name: MyFilmSay_user_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public."MyFilmSay_user_user_permissions" ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."MyFilmSay_user_user_permissions_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: MyFilmSay_vote; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."MyFilmSay_vote" (
    id bigint NOT NULL,
    vote_type character varying(10) NOT NULL,
    comment_id bigint,
    user_id bigint NOT NULL,
    reply_id bigint
);


ALTER TABLE public."MyFilmSay_vote" OWNER TO postgres;

--
-- Name: MyFilmSay_vote_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public."MyFilmSay_vote" ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."MyFilmSay_vote_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


ALTER TABLE public.auth_group OWNER TO postgres;

--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_group_permissions OWNER TO postgres;

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


ALTER TABLE public.auth_permission OWNER TO postgres;

--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id bigint NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


ALTER TABLE public.django_admin_log OWNER TO postgres;

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


ALTER TABLE public.django_content_type OWNER TO postgres;

--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


ALTER TABLE public.django_migrations OWNER TO postgres;

--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


ALTER TABLE public.django_session OWNER TO postgres;

--
-- Name: MyFilmSay_comment MyFilmSay_comment_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."MyFilmSay_comment"
    ADD CONSTRAINT "MyFilmSay_comment_pkey" PRIMARY KEY (id);


--
-- Name: MyFilmSay_commentreply MyFilmSay_commentreply_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."MyFilmSay_commentreply"
    ADD CONSTRAINT "MyFilmSay_commentreply_pkey" PRIMARY KEY (id);


--
-- Name: MyFilmSay_movie MyFilmSay_movie_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."MyFilmSay_movie"
    ADD CONSTRAINT "MyFilmSay_movie_pkey" PRIMARY KEY (id);


--
-- Name: MyFilmSay_movie MyFilmSay_movie_title_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."MyFilmSay_movie"
    ADD CONSTRAINT "MyFilmSay_movie_title_key" UNIQUE (title);


--
-- Name: MyFilmSay_user MyFilmSay_user_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."MyFilmSay_user"
    ADD CONSTRAINT "MyFilmSay_user_email_key" UNIQUE (email);


--
-- Name: MyFilmSay_user_groups MyFilmSay_user_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."MyFilmSay_user_groups"
    ADD CONSTRAINT "MyFilmSay_user_groups_pkey" PRIMARY KEY (id);


--
-- Name: MyFilmSay_user_groups MyFilmSay_user_groups_user_id_group_id_2b7cc8a2_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."MyFilmSay_user_groups"
    ADD CONSTRAINT "MyFilmSay_user_groups_user_id_group_id_2b7cc8a2_uniq" UNIQUE (user_id, group_id);


--
-- Name: MyFilmSay_user MyFilmSay_user_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."MyFilmSay_user"
    ADD CONSTRAINT "MyFilmSay_user_pkey" PRIMARY KEY (id);


--
-- Name: MyFilmSay_user_user_permissions MyFilmSay_user_user_perm_user_id_permission_id_3e2649ad_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."MyFilmSay_user_user_permissions"
    ADD CONSTRAINT "MyFilmSay_user_user_perm_user_id_permission_id_3e2649ad_uniq" UNIQUE (user_id, permission_id);


--
-- Name: MyFilmSay_user_user_permissions MyFilmSay_user_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."MyFilmSay_user_user_permissions"
    ADD CONSTRAINT "MyFilmSay_user_user_permissions_pkey" PRIMARY KEY (id);


--
-- Name: MyFilmSay_vote MyFilmSay_vote_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."MyFilmSay_vote"
    ADD CONSTRAINT "MyFilmSay_vote_pkey" PRIMARY KEY (id);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: MyFilmSay_vote unique_user_comment_vote; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."MyFilmSay_vote"
    ADD CONSTRAINT unique_user_comment_vote UNIQUE (user_id, comment_id);


--
-- Name: MyFilmSay_vote unique_user_reply_vote; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."MyFilmSay_vote"
    ADD CONSTRAINT unique_user_reply_vote UNIQUE (user_id, reply_id);


--
-- Name: MyFilmSay_comment_author_id_c4bc7399; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "MyFilmSay_comment_author_id_c4bc7399" ON public."MyFilmSay_comment" USING btree (author_id);


--
-- Name: MyFilmSay_comment_movie_id_ea318474; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "MyFilmSay_comment_movie_id_ea318474" ON public."MyFilmSay_comment" USING btree (movie_id);


--
-- Name: MyFilmSay_comment_parent_id_6ec7fb52; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "MyFilmSay_comment_parent_id_6ec7fb52" ON public."MyFilmSay_comment" USING btree (parent_id);


--
-- Name: MyFilmSay_commentreply_author_id_52131359; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "MyFilmSay_commentreply_author_id_52131359" ON public."MyFilmSay_commentreply" USING btree (author_id);


--
-- Name: MyFilmSay_commentreply_comment_id_d97e1289; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "MyFilmSay_commentreply_comment_id_d97e1289" ON public."MyFilmSay_commentreply" USING btree (comment_id);


--
-- Name: MyFilmSay_commentreply_parent_id_b2d2e4fe; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "MyFilmSay_commentreply_parent_id_b2d2e4fe" ON public."MyFilmSay_commentreply" USING btree (parent_id);


--
-- Name: MyFilmSay_movie_title_bff0246c_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "MyFilmSay_movie_title_bff0246c_like" ON public."MyFilmSay_movie" USING btree (title varchar_pattern_ops);


--
-- Name: MyFilmSay_user_email_1e5d07c6_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "MyFilmSay_user_email_1e5d07c6_like" ON public."MyFilmSay_user" USING btree (email varchar_pattern_ops);


--
-- Name: MyFilmSay_user_groups_group_id_75e8b08c; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "MyFilmSay_user_groups_group_id_75e8b08c" ON public."MyFilmSay_user_groups" USING btree (group_id);


--
-- Name: MyFilmSay_user_groups_user_id_0953e4c2; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "MyFilmSay_user_groups_user_id_0953e4c2" ON public."MyFilmSay_user_groups" USING btree (user_id);


--
-- Name: MyFilmSay_user_user_permissions_permission_id_f4d094fc; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "MyFilmSay_user_user_permissions_permission_id_f4d094fc" ON public."MyFilmSay_user_user_permissions" USING btree (permission_id);


--
-- Name: MyFilmSay_user_user_permissions_user_id_01b56144; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "MyFilmSay_user_user_permissions_user_id_01b56144" ON public."MyFilmSay_user_user_permissions" USING btree (user_id);


--
-- Name: MyFilmSay_vote_comment_id_7faa197b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "MyFilmSay_vote_comment_id_7faa197b" ON public."MyFilmSay_vote" USING btree (comment_id);


--
-- Name: MyFilmSay_vote_reply_id_45bbb4cc; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "MyFilmSay_vote_reply_id_45bbb4cc" ON public."MyFilmSay_vote" USING btree (reply_id);


--
-- Name: MyFilmSay_vote_user_id_0df1cec8; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "MyFilmSay_vote_user_id_0df1cec8" ON public."MyFilmSay_vote" USING btree (user_id);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: MyFilmSay_comment MyFilmSay_comment_author_id_c4bc7399_fk_MyFilmSay_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."MyFilmSay_comment"
    ADD CONSTRAINT "MyFilmSay_comment_author_id_c4bc7399_fk_MyFilmSay_user_id" FOREIGN KEY (author_id) REFERENCES public."MyFilmSay_user"(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: MyFilmSay_comment MyFilmSay_comment_movie_id_ea318474_fk_MyFilmSay_movie_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."MyFilmSay_comment"
    ADD CONSTRAINT "MyFilmSay_comment_movie_id_ea318474_fk_MyFilmSay_movie_id" FOREIGN KEY (movie_id) REFERENCES public."MyFilmSay_movie"(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: MyFilmSay_comment MyFilmSay_comment_parent_id_6ec7fb52_fk_MyFilmSay_comment_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."MyFilmSay_comment"
    ADD CONSTRAINT "MyFilmSay_comment_parent_id_6ec7fb52_fk_MyFilmSay_comment_id" FOREIGN KEY (parent_id) REFERENCES public."MyFilmSay_comment"(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: MyFilmSay_commentreply MyFilmSay_commentrep_comment_id_d97e1289_fk_MyFilmSay; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."MyFilmSay_commentreply"
    ADD CONSTRAINT "MyFilmSay_commentrep_comment_id_d97e1289_fk_MyFilmSay" FOREIGN KEY (comment_id) REFERENCES public."MyFilmSay_comment"(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: MyFilmSay_commentreply MyFilmSay_commentrep_parent_id_b2d2e4fe_fk_MyFilmSay; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."MyFilmSay_commentreply"
    ADD CONSTRAINT "MyFilmSay_commentrep_parent_id_b2d2e4fe_fk_MyFilmSay" FOREIGN KEY (parent_id) REFERENCES public."MyFilmSay_commentreply"(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: MyFilmSay_commentreply MyFilmSay_commentreply_author_id_52131359_fk_MyFilmSay_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."MyFilmSay_commentreply"
    ADD CONSTRAINT "MyFilmSay_commentreply_author_id_52131359_fk_MyFilmSay_user_id" FOREIGN KEY (author_id) REFERENCES public."MyFilmSay_user"(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: MyFilmSay_user_groups MyFilmSay_user_groups_group_id_75e8b08c_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."MyFilmSay_user_groups"
    ADD CONSTRAINT "MyFilmSay_user_groups_group_id_75e8b08c_fk_auth_group_id" FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: MyFilmSay_user_groups MyFilmSay_user_groups_user_id_0953e4c2_fk_MyFilmSay_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."MyFilmSay_user_groups"
    ADD CONSTRAINT "MyFilmSay_user_groups_user_id_0953e4c2_fk_MyFilmSay_user_id" FOREIGN KEY (user_id) REFERENCES public."MyFilmSay_user"(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: MyFilmSay_user_user_permissions MyFilmSay_user_user__permission_id_f4d094fc_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."MyFilmSay_user_user_permissions"
    ADD CONSTRAINT "MyFilmSay_user_user__permission_id_f4d094fc_fk_auth_perm" FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: MyFilmSay_user_user_permissions MyFilmSay_user_user__user_id_01b56144_fk_MyFilmSay; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."MyFilmSay_user_user_permissions"
    ADD CONSTRAINT "MyFilmSay_user_user__user_id_01b56144_fk_MyFilmSay" FOREIGN KEY (user_id) REFERENCES public."MyFilmSay_user"(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: MyFilmSay_vote MyFilmSay_vote_comment_id_7faa197b_fk_MyFilmSay_comment_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."MyFilmSay_vote"
    ADD CONSTRAINT "MyFilmSay_vote_comment_id_7faa197b_fk_MyFilmSay_comment_id" FOREIGN KEY (comment_id) REFERENCES public."MyFilmSay_comment"(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: MyFilmSay_vote MyFilmSay_vote_reply_id_45bbb4cc_fk_MyFilmSay_commentreply_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."MyFilmSay_vote"
    ADD CONSTRAINT "MyFilmSay_vote_reply_id_45bbb4cc_fk_MyFilmSay_commentreply_id" FOREIGN KEY (reply_id) REFERENCES public."MyFilmSay_commentreply"(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: MyFilmSay_vote MyFilmSay_vote_user_id_0df1cec8_fk_MyFilmSay_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."MyFilmSay_vote"
    ADD CONSTRAINT "MyFilmSay_vote_user_id_0df1cec8_fk_MyFilmSay_user_id" FOREIGN KEY (user_id) REFERENCES public."MyFilmSay_user"(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_MyFilmSay_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT "django_admin_log_user_id_c564eba6_fk_MyFilmSay_user_id" FOREIGN KEY (user_id) REFERENCES public."MyFilmSay_user"(id) DEFERRABLE INITIALLY DEFERRED;


--
-- PostgreSQL database dump complete
--

